<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>OurBBS</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FileToken</filter-name>
    <filter-class>com.filter.FileToken</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FileToken</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.controller.RegisterServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>EnterSubforumServlet</servlet-name>
    <servlet-class>com.controller.EnterSubforumServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BrowsePostServlet</servlet-name>
    <servlet-class>com.controller.BrowsePostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>com.controller.ReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>com.controller.PostServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EnterSubforumServlet</servlet-name>
    <url-pattern>/EnterSubforumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrowsePostServlet</servlet-name>
    <url-pattern>/BrowsePostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/ReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>


</web-app>